<html>
  <head>
    <title>{% block title %}tornado-dynamic-gallery{% end %}</title>
    <link rel="stylesheet" href="/assets/dropzone.css"/>
    <link rel="stylesheet" href="/assets/style.css"/>
  </head>
  <body>
    <div class="container">
      <h2>tornado-dynamic-gallery</h2>

      <form action="/upload" class="dropzone" id="dropzone-1"></form>
      <div class="gallery"></div>

    </div>
    <script src="/assets/dropzone.js"></script>
    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/app.js"></script>
  </body>
</html>
